%table#game-info.ui.compact.collapsing.basic.definition.table.segment
  %tbody
    %tr
      %td Number of Players
      %td= @game.number_of_players
    %tr
      %td Playing time
      %td= @game.playing_time
    %tr
      %td Age
      %td= @game.suggested_age
    %tr
      %td Year Published
      %td= @game.year_published
    %tr
      %td Website
      %td= @game.website_link
