.ui.inverted.teal.block.header= @game.name

= image_tag @game.image, alt: @game.name, class: 'ui right floated large image'
%p= @game.description

%table#game-info.ui.compact.collapsing.basic.definition.table.segment
  %tbody
    %tr
      %td Number of Players
      %td= @game.number_of_players
    %tr
      %td Playing time
      %td= @game.playing_time
    %tr
      %td Website
      %td= @game.website_link
