.ui.page.grid
  .column
    .ui.inverted.teal.block.header= @game.name

.ui.two.column.page.grid
  .column
    %p= @game.description
    = render 'game_info_table'
    = render 'buy_button', url: @game.chuvachi_link

  .center.aligned.column
    = render 'game_gallery', game: @game

:coffee
  $(".fancybox").fancybox()
