.ui.page.grid
  .column
    .ui.inverted.teal.block.header= @game.name

.ui.two.column.page.grid
  .column
    %p= @game.description
    = render 'game_info_table'
    = @game.buy_button target: "_blank", class: "ui primary large labeled icon button" do
      %i.cart.icon
      Buy

  .center.aligned.column
    = render 'game_gallery', game: @game

= render "youtube_video", url: @game.embed_youtube_url

:coffee
  $(".fancybox").fancybox()
