!!!
%html
  %head
    %title BoardGames
    = render 'shared/assets'

    = csrf_meta_tags
  %body
    .ui.one.column.page.grid
      .column
        = render 'shared/header'
      = yield
      .center.aligned.column
        = render 'shared/footer'
